<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ga.wyc.dao.DriverMapper" >
  <resultMap id="BaseResultMap" type="com.ga.wyc.domain.entity.Driver" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="DriverCarDTOMap" type="com.ga.wyc.domain.dto.DriverCarDTO">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="publish" property="publish" jdbcType="INTEGER" typeHandler="com.ga.wyc.typeHandler.IntEnumTypeHandler" />
    <result column="state" property="state" jdbcType="INTEGER" typeHandler="com.ga.wyc.typeHandler.IntEnumTypeHandler" />
    <result column="last_lng" property="lastLng" jdbcType="DOUBLE" />
    <result column="last_lat" property="lastLat" jdbcType="DOUBLE" />
    <association property="car" javaType="com.ga.wyc.domain.entity.Car">
      <id column="car_id" property="id" jdbcType="BIGINT" />
      <result column="car_code" property="code" jdbcType="VARCHAR" />
      <result column="car_vehicle_no" property="vehicleNo" jdbcType="VARCHAR" />
      <result column="car_seats" property="seats" jdbcType="INTEGER" />
      <result column="car_model" property="model" jdbcType="VARCHAR" />
      <result column="car_vehicle_type" property="vehicleType" jdbcType="VARCHAR" />
      <result column="car_vehicle_color" property="vehicleColor" jdbcType="VARCHAR" />
      <result column="car_create_time" property="createTime" jdbcType="TIMESTAMP" />
      <result column="car_update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </association>
    <association property="driver" javaType="com.ga.wyc.domain.entity.Driver">
      <id column="driver_id" property="id" jdbcType="BIGINT" />
      <result column="driver_code" property="code" jdbcType="VARCHAR" />
      <result column="driver_name" property="name" jdbcType="VARCHAR" />
      <result column="driver_phone" property="phone" jdbcType="VARCHAR" />
      <result column="driver_gender" property="gender" jdbcType="VARCHAR" />
      <result column="driver_create_time" property="createTime" jdbcType="TIMESTAMP" />
      <result column="driver_update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, name, phone, gender, state, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_driver
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectOneSelective" resultMap="BaseResultMap"  parameterType="com.ga.wyc.domain.entity.Driver">
    select
    <include refid="Base_Column_List" />
    from t_driver
    <where>
      <if test="phone!=null">
        AND phone=#{phone,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectDriverCarsByID" parameterType="java.lang.Long" resultMap="DriverCarDTOMap">
    SELECT
    a.id,
    a.publish,
    a.state,
    a.last_lng,
    a.last_lat,
    b.id AS car_id,
    b.`code` AS car_code,
    b.vehicle_no AS car_vehicle_no ,
    b.seats AS car_seats,
    b.model AS car_model,
    b.vehicle_type AS car_vehicle_type,
    b.vehicle_color AS car_vehicle_color,
    b.create_time AS car_create_time,
    b.update_time AS car_update_time
    FROM
    t_driver_car AS a
    JOIN t_car AS b ON a.car_id = b.id
    WHERE
    a.driver_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_driver
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ga.wyc.domain.entity.Driver" >
    insert into t_driver (id, code, name, 
      phone, gender, state, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ga.wyc.domain.entity.Driver" useGeneratedKeys="true" keyProperty="id" >
    insert into t_driver
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ga.wyc.domain.entity.Driver" >
    update t_driver
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ga.wyc.domain.entity.Driver" >
    update t_driver
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>